<h3>Подтверждение E-Mail адреса</h3>
<p>Для завершения регистрации аккаунта с ником EXAMPLE подтвердите вашу почту <%=email %> </p>
<a href="<%=url %>">Подтвердить E-Mail</a>
<p>Если вы не отпавляли это письмо - проигнорируйте</p>