<h3>Восстановление пароля CandyCraft</h3>
<p>Для восстановления пароля от аккаунта "<%=username %>" на CandyCraft - перейдите по ссылке</p>
<a href="<%=url %>">Подтвердить E-Mail</a>
<p>Если вы не отправляли это письмо - проигнорируйте</p>